@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.main{
    background-color: #f2f2f2;
}

.container{
    width: 88%;
    margin: auto;
}

.mainfont{
    font-family: 'EB Garamond';
}

.poppins{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.sansita{
    font-family: "Sansita Swashed", system-ui;
    font-style: normal;
}

.rubik{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

.slight-slant {
    transform: skewX(-18deg);
}

.underline {
    text-decoration: underline;
}



